<div class="content">
  <% if @query_stats_enabled %>
    <%= button_to "Reset", reset_query_stats_path, class: "btn btn-danger", style: "float: right;" %>
  <% end %>

  <h1 style="float: left;">Queries</h1>

  <% if @historical_query_stats_enabled %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.css" %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js", "https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js" %>
    <style>
      .noUi-connect {
        box-shadow: none;
        background: #5bc0de;
      }

      .noUi-handle {
        box-shadow: none;
      }

      .noUi-target {
        box-shadow: none;
        border-color: #eee;
      }

      .noUi-background {
        box-shadow: none;
        background-color: #eee;
      }

      .noUi-origin {
        border-radius: 0;
      }
    </style>

    <div style="padding: 8px 140px 20px 140px;">
      <div id="slider" style="margin-bottom: 20px;"></div>
      <div id="event-end" style="float: right;"></div>
      <div id="event-start" style="min-height: 20px;"></div>
    </div>

    <script>
      function roundTime(date) {
        var coeff = 1000 * 60 * 5;
        return new Date(Math.ceil(date.getTime() / coeff) * coeff)
      }

      var days = 1;
      var date = new Date();
      var now2 = roundTime(date);
      var now = now2 - days * 24 * 60 * 60 * 1000;
      var start = 24 * 12 * days;
      var end = 24 * 12 * days;

      var startVal = <%= @start_at.to_i %> * 1000;
      if (startVal > 0) {
        start = (startVal - now) / (1000 * 60 * 5);
      }
      var endVal = <%= @end_at.to_i %> * 1000;
      if (endVal > 0) {
        end = (endVal - now) / (1000 * 60 * 5);
      }

      $("#slider").noUiSlider({
      // Create two timestamps to define a range.
          range: {
              min: 0,
              max: 24 * 12 * days
          },

      // Steps of one week
          step: 1,
          connect: true,

      // Two more timestamps indicate the handle starting positions.
          start: [ start, end ]
      });

      function updateText() {
        var val = $("#slider").val();
        setText("#event-start", val[0], val[1]);
        setText("#event-end", val[1], val[0]);
      }

      function pad(num) {
        return (num < 10) ? "0" + num : num;
      }

      var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

      function setText(selector, val, val2) {
        var d = timeVal(val);
        var o = "";
        if (roundTime(d).getTime() == roundTime(now2).getTime() && val == val2) {
          if (selector == "#event-end") {
            o = "Now";
          }
        } else {
          if (d > date) {
            d = date;
          }
          o = months[d.getMonth()] + " " + d.getDate() + ", " + pad(d.getHours()) + ":" + pad(d.getMinutes());
        }
        $(selector).html(o);
      }

      function timeVal(val) {
        return new Date(now + (val * 5) * 60 * 1000);
      }

      function queryVal(v) {
        return timeVal(v).toISOString();
      }

      $("#slider").on("slide", function () {
        updateText();
      }).on("change", function () {
        var val = $("#slider").val();
        if (val[0] == val[1]) {
          var url = "queries";
        } else {
          b = {start_at: queryVal(val[0]), end_at: queryVal(val[1])}
          var url = "queries?" + $.param(b);
        }

        $("#boom").html("<tr><td colspan=3><p class='text-muted' style='text-align: center; margin-top: 40px;'>...</p></td></tr>").load(url);

        if (history.pushState) {
          history.pushState(null, null, url);
        }
      });
      updateText()
    </script>
  <% end %>

  <% if @query_stats_enabled %>
    <% if @error %>
      <div class="alert alert-danger">Cannot understand start or end time.</div>
    <% elsif @query_stats.any? || @historical_query_stats_enabled %>
      <%= render partial: "queries_table", locals: {queries: @query_stats} %>
    <% else %>
      <p>Stats are not available yet. Come back soon!</p>
    <% end %>
  <% else %>
    <p>Query stats are not enabled.</p>
  <% end %>
</div>
